@mixin font($font-family: "Inter", $font-weight: 400, $font-size: clamp(16px, 5vw, 18px)) {
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: $font-size;
}

.title1 {
  @include font($font-weight: 700, $font-size: 18px);
  color: var(--grey-0);
}
.title2 {
  @include font();
  color: #fff;
}
.title3 {
  @include font($font-weight: 500);
  color: var(--grey-0);
}
.title4 {
  @include font($font-weight: 700);
  color: var(--grey-0);
}

.Headline {
  @include font($font-size: 12px);
  color: var(--grey-0);
}

